<h2 class="subtitle">How do you want to split your secret?</h2>

<p>
	Shamir's secret sharing allows us to split a secret into multiple shares.
	We can specify how many shares we want to create (<em>m</em>), and how many shares are required to reconstruct the secret (<em>n</em>),
	where 1 &lt; <em>n</em> ≤ <em>m</em>.
</p>
<div class="columns mt-5">
	<div class="column">
		<div class="box has-text-centered">
			<div class="field">
				<label>Number of shares to create</label>
				<div class="control">
					<input type="number" class="input" [formControl]="model.numberOfShares" min="2" max="20"/>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="box has-text-centered">
			<div class="field">
				<label>Number of shares required to reconstruct the secret</label>
				<div class="control">
					<input type="number" class="input" [formControl]="model.threshold" min="2" [max]="maxThreshold" />
				</div>
			</div>
		</div>
	</div>
</div>
