<h1 class="title">About</h1>

<h2 class="subtitle">Acknowledgements</h2>
<p>Seed.Parts makes use of the following open source projects:</p>
<ul>
  <li><a href="https://github.com/openpgpjs/openpgpjs">OpenPGP.js</a></li>
  <li><a href="https://github.com/jwerle/shamirs-secret-sharing">Shamir's Secret Sharing</a></li>
	<li><a href="https://github.com/Stuk/jszip">JSZip</a></li>
	<li><a href="https://bulma.io/">Bulma</a></li>
</ul>

<h2 class="subtitle">Donate</h2>

<p>Seed.Parts is a free and open source project. If you found it useful, please consider donating to keep the project running.</p>

<div class="box mt-5" id="donate">
	<div>
		<img class="is-250x250" src="assets/bitcoin.png" alt="Donate with Bitcoin" />
	</div>
	<div>
		<p class="title is-4 is-flex is-align-items-center"><fa-icon class="bitcoin mr-3" [icon]="['fab', 'bitcoin']" size="2x"></fa-icon> Donate with Bitcoin</p>
		<p>bc1qnjalfpxs0la3vp7v95ssnay78p7jnydq4zuugf</p>
		<p>Donations are used to cover the cost of maintaining and hosting the project.</p>
	</div>
</div>
