<h2 class="subtitle">Do you want to encrypt your secret?</h2>

<div class="field is-horizontal">
	<div class="field-label">
		<label class="label">Encrypt with:</label>
	</div>
	<div class="field-body">
		<div class="control">
			<div class="select">
				<select [formControl]="model.encryptionType">
					<option *ngFor="let item of encryptionTypeList" [value]="item.value">{{ item.label }}</option>
				</select>
			</div>
		</div>
	</div>
</div>

<ng-container [ngSwitch]="model.encryptionType.value">
	<ng-container *ngSwitchCase="encryptionType.password" [ngTemplateOutlet]="passwordEncryption"></ng-container>
	<ng-container *ngSwitchCase="encryptionType.key" [ngTemplateOutlet]="keyEncryption"></ng-container>
	<ng-container *ngSwitchCase="encryptionType.none" [ngTemplateOutlet]="noEncryption"></ng-container>
</ng-container>

<ng-template #passwordEncryption>

	<div class="field is-horizontal">
		<div class="field-label"></div>
		<div class="field-body">
			<p class="control">
				<fa-icon class="has-text-danger" [icon]="['fas', 'triangle-exclamation']"></fa-icon>
				<span>You will be unable to decrypt your secret without the password. If the password is lost, the secret cannot be recovered.</span>
			</p>
		</div>
	</div>


	<password [control]="model.password"></password>
	<password [control]="model.confirmPassword" label="Confirm Password"></password>

</ng-template>

<ng-template #keyEncryption>

	<div class="field is-horizontal">
		<div class="field-label"></div>
		<div class="field-body">
			<p class="control">
				<fa-icon class="has-text-danger" [icon]="['fas', 'triangle-exclamation']"></fa-icon>
				<span>You will be unable to decrypt your secret without the RSA private key. If the private key is lost, the secret cannot be recovered.</span>
			</p>
		</div>
	</div>

	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">RSA Public Key:</label>
		</div>
		<div class="field-body">
			<div class="file-drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.dragover]="isDragOver">
				<div class="file-drop-content">
					<fa-icon [icon]="['fas', 'file-import']" size="2x"></fa-icon>
					<p>Drag and drop your RSA public key file here</p>
					<p>or</p>
					<label class="button is-primary">
						<input type="file" (change)="onFileSelected($event)" accept=".pem,.asc" style="display:none;">
						Choose file
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="field is-horizontal" *ngIf="model.publicKey.value">
		<div class="field-label"></div>
		<div class="field-body">
			<p class="control">
				<fa-icon class="has-text-success mr-3" [icon]="['fas', 'check-circle']"></fa-icon>
				<span>Public key loaded: {{ publicKeyFilename }}</span>
			</p>
		</div>
	</div>

	
</ng-template>

<ng-template #noEncryption>
	<p><fa-icon class="has-text-danger mr-2" [icon]="['fas', 'triangle-exclamation']"></fa-icon> Not recommended.</p>
	<p>Secret will not be encrypted before sharing.</p>
</ng-template>
