<div class="columns mt-5 mb-5">
	<div class="column">
		<div class="field is-horizontal auto">
			<div class="field-label is-normal">
				<label class="label">Seed Phrase Length</label>
			</div>
			<div class="field-body">
				<div class="control">
					<label class="radio">
						<input type="radio" name="wordCount" [value]="12" [formControl]="model.wordCount"> 12 words
					</label>
					<label class="radio">
						<input type="radio" name="wordCount" [value]="24" [formControl]="model.wordCount"> 24 words
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="field is-horizontal auto">
			<div class="field-label is-normal">
				<label class="label">Word List</label>
			</div>
			<div class="field-body">
				<div class="control">
					<div class="select">
						<select [formControl]="model.bip39Language">
							<option *ngFor="let language of bip39Languages" [value]="language.value">{{ language.label }}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wordlist">
	<div *ngFor="let column of [0, 1, 2]">
		<ng-container *ngFor="let control of model.bip39.controls; let i = index">
			<ng-container *ngIf="seedColumn(column, i)" [ngTemplateOutlet]="seedwordTemplate" [ngTemplateOutletContext]="{ $implicit: control, index: i }"></ng-container>
		</ng-container>
	</div>
</div>

<ng-template #seedwordTemplate let-control let-i="index">
	<div class="field has-addons">
		<div class="control">
			<a class="button is-static">
				#{{ i + 1 }}
			</a>
		</div>
		<div class="control is-expanded">
			<input #field class="input" placeholder="Word {{ i + 1 }}" typeahead [taList]="wordList.list" [onlyMatchStart]="true" (taSelected)="control.setValue($event);" [value]="control.value" (input)="wordList.listFrom(field.currentValue)" />
		</div>
	</div>
</ng-template>