<h1 class="title">Decrypt a Secret</h1>

<fieldset class="mb-5">
	<legend>Shares</legend>
	<ng-container *ngFor="let share of model.shares.controls; let i = index">
		<div class="field is-horizontal">
			<div class="field-label">
				<label class="label">Share {{ i + 1 }}</label>
			</div>
			<div class="field-body">
				<div class="field has-addons">
					<div class="control">
						<label class="button" title="Open file" for="fileOpen{{ i }}">
							<fa-icon [icon]="['fas', 'file-text']"></fa-icon>
							<input id="fileOpen{{ i }}" type="file" (change)="onShareFileSelected($event, i)" style="display: none;" accept=".txt">
						</label>
					</div>
					<div class="control is-expanded">
						<input class="input" type="text" [formControl]="share" />
					</div>
					<div class="control" *ngIf="i > 1">
						<button class="button" type="button" (click)="model.removeShare(i)"><fa-icon [icon]="['fas', 'trash-can']"></fa-icon></button>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
	<button type="button" class="button" (click)="model.addShare()">Add Share</button>
</fieldset>

<fieldset *ngIf="encryptionType === encryptionTypes.password">

	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Encryption Type</label>
		</div>
		<div class="field-body">
			<div class="control">
				<span class="tag is-info">Password Encryption</span>
			</div>
		</div>
	</div>

	<div class="field mt-5 is-horizontal">
		<div class="field-label">
			<label class="label">Decryption Password</label>
		</div>
		<div class="field-body">
			<div class="field has-addons">
				<div class="control is-expanded">
					<input class="input" type="password" [formControl]="model.password" (keyup.enter)="applyCredentials()" />
				</div>
				<div class="control">
					<button class="button" type="button" (click)="applyCredentials()"><fa-icon [icon]="['fas', 'key']"></fa-icon></button>
				</div>
			</div>
		</div>
	</div>
</fieldset>

<fieldset *ngIf="encryptionType === encryptionTypes.key">

	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">Encryption Type</label>
		</div>
		<div class="field-body">
			<div class="control">
				<span class="tag is-info">Public Key Encryption</span>
			</div>
		</div>
	</div>

	<div class="field is-horizontal">
		<div class="field-label">
			<label class="label">RSA Private Key:</label>
		</div>
		<div class="field-body">
			<div class="file-drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.dragover]="isDragOver">
				<div class="file-drop-content">
					<fa-icon [icon]="['fas', 'file-import']" size="2x"></fa-icon>
					<p>Drag and drop your RSA private key file here</p>
					<p>or</p>
					<label class="button is-primary">
						<input type="file" (change)="onPrivateKeyFileSelected($event)" accept=".pem,.asc" style="display:none;">
						Choose file
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="field is-horizontal" *ngIf="model.privateKey.value">
		<div class="field-label"></div>
		<div class="field-body">
			<p class="control">
				<fa-icon class="has-text-success mr-3" [icon]="['fas', 'check-circle']"></fa-icon>
				<span>Private key loaded: {{ privateKeyFilename }}</span>
			</p>
		</div>
	</div>

	<div class="field mt-5 is-horizontal" *ngIf="privateKeyPasswordRequired">
		<div class="field-label">
			<label class="label">Private Key Password</label>
		</div>
		<div class="field-body">
			<div class="field has-addons">
				<div class="control is-expanded">
					<input class="input" type="password" [formControl]="model.password" (keyup.enter)="applyCredentials()" />
				</div>
				<div class="control">
					<button class="button" type="button" (click)="applyCredentials()"><fa-icon [icon]="['fas', 'key']"></fa-icon></button>
				</div>
			</div>
		</div>
	</div>


</fieldset>

<div class="field mt-5" *ngIf="!!model.secret.value">
	<label class="label">Your Secret</label>
	<div class="control">
		<textarea class="textarea" readonly [formControl]="model.secret"></textarea>
	</div>
</div>
