<h1 class="title">Create a New Secret</h1>

<div class="steps">
	<div class="step" *ngFor="let step of steps; let i = index" [class.is-active]="step === currentStep" [class.is-complete]="i < steps.indexOf(currentStep)">
		<div class="icon-container">
			<div class="icon">{{ i + 1 }}</div>
		</div>
		<div class="subtitle">{{ step.name }}</div>
		<div class="description">{{ step.description }}</div>
	</div>
</div>

<step1 [model]="model" *ngIf="currentStep === steps[0]" (valid)="onStepValidChange($event)"></step1>
<step2 [model]="model" *ngIf="currentStep === steps[1]" (valid)="onStepValidChange($event)"></step2>
<step3 [model]="model" *ngIf="currentStep === steps[2]" (valid)="onStepValidChange($event)"></step3>
<step4 [model]="model" *ngIf="currentStep === steps[3]"></step4>

<div id="navButtons"class="level">
	<div class="level-left">
		<button *ngIf="currentStepIdx > 0" class="button" type="button" (click)="previousStep()"><fa-icon class="mr-3" [icon]="['fas', 'angle-left']"></fa-icon> Back</button>
	</div>
	<div class="level-right">
		<button *ngIf="currentStepIdx < steps.length - 1" class="button" [disabled]="!nextStepValid" (click)="nextStep()">Next <fa-icon class="ml-3" [icon]="['fas', 'angle-right']"></fa-icon></button>
		<button *ngIf="currentStepIdx === steps.length - 1" class="button" (click)="restart()">Share a new secret</button>
	</div>
</div>

