@import "colours";

.wordlist {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0.75em;

	// @media (max-width: 1023px) {
	//   grid-template-columns: repeat(2, 1fr);
	// }

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	& > div {
		margin-bottom: var(--bulma-field-block-spacing);
	}
}

.steps {
	display: grid;
	width: 100%;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, 25%);
	margin-bottom: 1rem;

	.step {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
		color: $midGrey;
		inline-size: 100%;

		.icon-container {
			position: relative;
			width: 100%;

			.icon {
				width: 2em;
				height: 2em;
				border-radius: 50%;
				background-color: $grey;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				border: 2px solid white;
			}
		}

		&.is-active {
			.icon-container {
				.icon {
					background-color: $blue;
				}
			}

			color: $blue;
		}

		&.is-complete {
			.icon-container {
				.icon {
					background-color: green;
				}
			}

		}

		&:not(:last-child) {
			.icon-container::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 50%;
				height: 2px;
				background-color: $lightGrey;
				z-index: -1;
			}
		}

		&:not(:first-child) {
			.icon-container::before {
			content: "";
			position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 50%;
				height: 2px;
				background-color: $lightGrey;
				z-index: -1;
			}
		}
	}

	.subtitle {
		margin-bottom: 0.25em;
	}
}

#navButtons {
	margin: 2rem 0;
	padding-top: 1rem;
	border-top: 1px solid $darkGrey;

}