@import "colours";

#notifications {
	position: fixed;
	top: 4rem;
	right: 1rem;
	z-index: 300;
	max-width: 90vw;

	.message {
		max-width: 90vw;
		min-width: 20vw;
		position: relative;
		top: 0;

		&.removing {
			opacity: 0;
			transition: all 0.6s ease-in-out;
			transform: scale(0.8);
			top: -2em;
		}
	}
}

@media (min-width: 768px) {
	#notifications {
		.message {
			max-width: 50vw;
		}
	}
}

@media (min-width: 1024px) {
	#notifications {
		.message {
			max-width: 40vw;
		}
	}
}

@media (min-width: 1216px) {
	#notifications {
		.message {
			max-width: 30vw;
		}
	}
}

@media (min-width: 1408px) {
	#notifications {
		.message {
			max-width: 20vw;
		}
	}
}
