<h2 class="subtitle">Finished!</h2>
<p>Your shares are listed below. Save each one and distribute geographically as appropriate.</p>

<div class="box mt-5 mb-5">
	<div class="columns">
		<div class="column">
			<div class="field">
				<label class="label">Download Format</label>
				<div class="control">
					<div class="select">
						<select [formControl]="model.downloadFormat">
							<option *ngFor="let format of allFormats" [value]="format.value">{{ format.label }}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<label class="checkbox">
						<input type="checkbox" [formControl]="model.includeInstructions"> Include instructions
					</label>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<label class="checkbox">
						<input type="checkbox" [formControl]="model.includeShareInfo"> Include share information
					</label>
				</div>
			</div>
		</div>
		<div class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
			<button class="button is-primary" (click)="downloadShares()">Download Shares</button>
		</div>
	</div>
</div>


<div class="field" *ngFor="let share of shares; let idx = index">
	<div class="field has-addons">
		<div class="control">
			<button class="button is-static">Share {{ idx + 1 }}</button>
		</div>
		<div class="control is-expanded">
			<input type="text" class="input" [value]="share" readonly>
		</div>
		<div class="control">
			<button class="button" (click)="copyShare(idx)" title="Copy to clipboard"><fa-icon [icon]="['fas', 'copy']"></fa-icon></button>
		</div>
	</div>
</div>