<div class="field is-horizontal">
	<div class="field-label">
		<label class="label">{{ label }}</label>
	</div>
	<div class="field-body">
		<div class="field has-addons">
			<div class="control is-expanded">
				<input *ngIf="!showPassword" class="input" type="password" [formControl]="control" />
				<input *ngIf="showPassword" class="input" type="text" [formControl]="control" />
			</div>
			<div class="control">
				<button class="button" (click)="showPassword = !showPassword">
					<fa-icon [icon]="showPassword ? ['fas', 'eye-slash'] : ['fas', 'eye']"></fa-icon>
				</button>
			</div>
		</div>
	</div>
</div>