.btnGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin-bottom: 1rem;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	.box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 0;
	}
	
	button {
		fa-icon {
			margin-right: 0.75rem;
		}

		margin-bottom: 1rem;
	}
}