<h2 class="subtitle">What type of secret do you want to share?</h2>

<div class="btnGrid">
	<div class="box">
		<button class="button is-large" (click)="model.secretType.setValue(secretType.seedphrase)" [ngClass]="{'is-primary': model.secretType.value === secretType.seedphrase}">
			<fa-icon [icon]="['fas', 'wallet']"></fa-icon>
			<span>BIP39 Seed Phrase</span>
		</button>
		<p>A BIP39 seed phrase is a list of 12 or 24 words that can be used to secure a Bitcoin or other crypto wallet.</p>
	</div>
	<div class="box">
		<button class="button is-large" (click)="model.secretType.setValue(secretType.data)" [ngClass]="{'is-primary': model.secretType.value === secretType.data}">
			<fa-icon [icon]="['fas', 'file-text']"></fa-icon>
			<span>Text</span>
		</button>
		<p>Store any other text data.</p>
	</div>
</div>

<seedphrase [model]="model" *ngIf="model.secretType.value === secretType.seedphrase"></seedphrase>
<text-data [model]="model" *ngIf="model.secretType.value !== null"></text-data>
